[tool.poetry]
name = "patchwork-cli"
version = "0.0.17"
description = ""
authors = ["patched.codes"]
license = "AGPL"
readme = "README.md"
packages = [
    { include = "patchwork", from = "." }
]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: GNU Affero General Public License v3 or later (AGPLv3+)",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Software Development :: Quality Assurance",
    "Topic :: Software Development :: Testing",
    "Topic :: Utilities"
]

[tool.poetry.dependencies]
python = "^3.8"
typing-extensions = "^4.11.0"
click = "~8.1.0"
semgrep = "^1.51.0"
openai = "^1.13.3"
tree-sitter-languages = "~1.10.2"
python-gitlab = "^4.4.0"
owasp-depscan = "~5.2.12"
pygithub = "~2.1.1"
gitpython = "~3.1.40"
pydantic = "~2.6.4"
tiktoken = "~0.6.0"
libcst = "~1.1.0"
patched-code2prompt = "0.2.0"
pyyaml = "^6.0.1"
packageurl-python = "~0.15.0"
semver = "~3.0.2"
requests = "~2.32.0"  # Updated version
chardet = "^5.2.0"
chromadb = "~0.4.24"
sentence-transformers = "~2.7.0"
# pinning transitive dependencies
orjson = "~3.9.15"
torch = "~2.2.2"
tree-sitter = "~0.21.3"

[tool.poetry.group.dev.dependencies]
setuptools = "*"
poethepoet = { version = "^0.24.2", extras = ["poetry-plugin"] }
mypy = "^1.7.1"
types-requests = "~2.31.0"
black = "^24.3.0"  # Updated version
isort = "^5.13.2"
autoflake = "^2.3.1"
pytest = "^8.1.1"
pytest-mock = "^3.8.0"

datasets = "^1.14.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
patchwork = 'patchwork.app:cli'

[tool.poe.poetry_hooks]
#pre_build = "mypy"
post_update = "lint"

[tool.poe.env]
PROJ_PATH.default = "patchwork"
TEST_PATH.default = "tests"

[tool.poe.tasks]
#mypy = "mypy ${PROJ_PATH}"
lint = [
    {cmd = "autoflake --recursive ${PROJ_PATH} ${TEST_PATH}"},
    {cmd = "isort ${PROJ_PATH} ${TEST_PATH}"},
    {cmd = "black ${PROJ_PATH} ${TEST_PATH}"}
]

[tool.black]
target-version = ['py310']
line-length = 120

[tool.isort]
profile = "black"

[tool.autoflake]
in-place = true
remove-all-unused-imports = true
expand-star-imports = true
ignore-init-module-imports = true