[tool.poetry.dependencies]
python = "^3.8"
typing-extensions = "^4.11.0"
click = "~8.1.0"
openai = "^1.13.3"
tree-sitter-languages = "~1.10.2"
python-gitlab = "^4.4.0"
pygithub = "~2.1.1"
gitpython = "~3.1.40"
pydantic = "~2.6.4"
tiktoken = "~0.6.0"
libcst = "~1.1.0"
patched-code2prompt = "0.2.0"
pyyaml = "^6.0.1"
packageurl-python = "~0.15.0"
semver = "~3.0.2"
requests = "~2.32.0"  # Updated version
chardet = "~5.2.0"
tqdm = "~4.66.4"
attrs = "~23.2.0"
# pinning transitive dependencies
tree-sitter = "~0.21.3"