[tool.poetry.dependencies]
python = "^3.8"
typing-extensions = "^4.11.0"
click = "~8.1.0"
openai = "^1.13.3"
tree-sitter-languages = "~1.10.2"
python-gitlab = "^4.4.0"
pygithub = "~2.1.1"
gitpython = "~3.1.40"
pydantic = "~2.6.4"
tiktoken = "~0.6.0"
libcst = "~1.1.0"
patched-code2prompt = "0.2.0"
pyyaml = "^6.0.1"
packageurl-python = "~0.15.0"
semver = "~3.0.2"
requests = "~2.32.0"  # Updated from "~2.31.0"
chardet = "^5.2.0"
# pinning transitive dependencies
tree-sitter = "~0.21.3"

# extras
# security
semgrep = {version = "^1.51.0", optional = true}
owasp-depscan = {version = "~5.2.12", optional = true }

# rag
chromadb = {version = "~0.4.24", optional = true }
sentence-transformers = {version = "~2.7.0", optional = true }
# pinning transitive dependencies
torch = {version = "~2.2.2", optional = true }
orjson = {version = "~3.9.15", optional = true }

[tool.poetry.group.dev.dependencies]
setuptools = "*"
poethepoet = { version = "^0.24.2", extras = ["poetry-plugin"] }
mypy = "^1.7.1"
types-requests = "~2.31.0"
black = "^24.3.0"  # Updated from "^23.12.0"
isort = "^5.13.2"
autoflake = "^2.3.1"
pytest = "^8.1.1"
pytest-mock = "^3.8.0"

datasets = "^1.14.0"